<div class="container-fluid text-center" style="margin-top:150px; margin-bottom: 350px">
  <h2>I nostri Clienti</h2>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table id="BitTabella" class="table table-bordered table-hover">
        <thead class="thead-dark">
          <th>Nome Cliente</th>
          <th>Fatturato</th>
          <th>Indirizzo</th>
          <th>Data inizio</th>
          <th>Modifica</th>
          <th>Elimina</th>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clienti">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.score}}</td>
            <td>{{cliente.indirizzo}}</td>
            <td>{{cliente.data}}</td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-info btn-xs" data-title="Modifica" routerLink="/dettaglio/{{cliente.id}}">
                  <span class="fas fa-pen-alt"></span>
                </button>
              </p>
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" (click)="delete(cliente)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <label>Nuovo cliente:
      <input class="form-control" #nomeCliente />
    </label>
    <button class="btn btn-default inserisci"(click)="insert(nomeCliente.value); nomeCliente.value=''">
      Inserisci
    </button>
  </div>
</div>